* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif, AlexBrushRegular;
}


/*////////// Style the header //////////*/

#logo{
  height : 80px;
  margin : 12px 28px -65px;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif, fjalla one, AlexBrushRegular;
  background-color:  white;
  font-size: 20px;
}

#artisanat{
  float: right;
}
#ponz{
  width : 12%;
  margin : 40px 20px -20px;  
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*////////// Style the topnav //////////*/

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: white;
  text-align:right;
  padding : 12px ;
  margin-left: 300px;
  margin-right: auto;
  width:1030px;
}

/* Style the topnav links */
.topnav a {
  font-family : Montserrat ;
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 10px 13px;
  font-size : 24px;
  text-decoration: none;
  border-top: 1px solid transparent;
  transition: all ease-in-out 300ms;  
}

/* Change color on hover */
.topnav a:hover {
  color : black;
  border-color: black;
}

/*////////// Style the background //////////*/

.background{
  background-image: url("https://i.ibb.co/GdwmgMy/artisan9944.jpg");
  background-position : 100% 10% ;
  background-size : 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.map{
  margin :0px 50px -412px;
}
/*///////// Style slideshow /////////*/

.mySlides {
  display: none ;
}

.mySlides:first-child {
  display: block;
}


/* Slideshow container */


.slideshow-container {
  max-width: 400px;
  position: relative;
  margin: auto;
  padding-top : 10px;
  padding-left : 0px;
  float : right;
  margin : -1px 20px 10px;
  }

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */


.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


#workshop{
  padding : 10px 430px 10px; 
  height : 420px;

}


.slideshow{
  background-color : white		;
  height : 420px;
}

/*////////// Style the prefooter //////////*/

.prefooter{
  background-color: #dddd;
  padding: 8px;
  height : 5px;
}


/*////////// Style the footer //////////*/

#aponz{
font-family : Poiret One;
font-weight : bold;
font-size: 32px;
color : white;
padding-top : 10px;
width : 200px;
  
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif, fjalla one;
 // font-weight : bold;
  background-color:  white;
  font-size: 20px;
}


.site-footer {
  height : 100px;
  padding-top :20px;
  background-color:#26272b;
  font-size:15px;
  line-height:20px;  
}

.site-footer h2 {
  color :white;
  margin : 10px -10px 10px;  
}


/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding : 1px 80px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  }
  
#sitemap{
  margin: 20px -30px 20px;
  color : #737373;
  min-width : 200px;
}
/*Social NETWORKS ICONS */

.fa-facebook {
  color: white;
  background : grey;
  transition: all ease-in-out 200ms;  
}
  
.fa-facebook:hover {
    background: #3B5998;
}


.fa-twitter {
  color: white;
  background : grey;
  transition: all ease-in-out 200ms; 
}
  
.fa-twitter:hover {
    background: #55ACEE;
}

.fa-google {
  color: white;
  background : grey;
  transition: all ease-in-out 200ms; 
}
.fa-google:hover {
    background:#dd4b39;
}
 
#icon{
  color: white;
  background : grey;
}


.prefooter {
  height : 10px;
  background : ddd;
}

#adress{
  margin : -45px 55px -10px;
  font-size : 15px;
  letter-spacing : 1px;
  line-height : 25px;
  width : 300px;
    font-size : 14px;

}

#phone-num{
  margin : -30px 10px -15px;
  padding-bottom: 10px;
  font-size : 14px;
  letter-spacing : 1px;
  line-height : 25px;
  width : 300px;

}

#mail{
  margin : -35px 55px -10px;
  letter-spacing : 1px;
  line-height : 25px;
  color : white;
  width : 300px;
  font-size : 14px;

}

#rez{
  margin : 80px 55px 10px;
  font-size: 20px;
  width : 50px;


}

#social{
  margin : 25px 650px 2px;
  padding-left : 50px;
    width : 300px;

}


